# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. seaborn
5. pytorch

| Data Science Tools | 
|---------------------- |
| JupyterLab |
| Rstudio |
|Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in python

In [25]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [37]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

**Objectives**

* List of data science tools
* Exploratory data analysis with Python
* Libraries for data science

## Author

Kayode Ezekiel